{% extends './layout/baseEldy.html' %}

{% block title %}
  {{ super() }} | Article
{% endblock %}

{% block content %}
  <!-- Breadcrumb Begin -->
  <div class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__links">
            <a href="/"><i class="fa fa-home"></i> Home</a>
            <a href="{{ url_for('Shop') }}">shop</a>
            <span>{{ item.title }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Product Details Section Begin -->
  <section class="product-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="product__details__pic">
            <div class="product__details__pic__left product__thumb nice-scroll">
              <a class="pt active" href="#product-1">
                <img src="{% if not item.img_url %}
                    {{ url_for('static', filename = config['NO_PHOTO']) }}
                  {% else %}
                    {{ item.img_url }}
                  {% endif %}"
                  alt="" />
              </a>
              <a class="pt" href="#product-2">
                <img src="{% if not item.img_url %}
                    {{ url_for('static', filename = config['NO_PHOTO']) }}
                  {% else %}
                    {{ item.img_url }}
                  {% endif %}"
                  alt="" />
              </a>
              <a class="pt" href="#product-3">
                <img src="{% if not item.img_url %}
                    {{ url_for('static', filename = config['NO_PHOTO']) }}
                  {% else %}
                    {{ item.img_url }}
                  {% endif %}"
                  alt="" />
              </a>
            </div>
            <div class="product__details__slider__content">
              <div class="product__details__pic__slider owl-carousel">
                <img data-hash="product-1"
                  class="product__big__img"
                  src="{% if not item.img_url %}
                    {{ url_for('static', filename = config['NO_PHOTO']) }}
                  {% else %}
                    {{ item.img_url }}
                  {% endif %}"
                  alt=""
                  style="width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;" />
                <img data-hash="product-2"
                  class="product__big__img"
                  src="{% if not item.img_url %}
                    {{ url_for('static', filename = config['NO_PHOTO']) }}
                  {% else %}
                    {{ item.img_url }}
                  {% endif %}"
                  alt="" />
                <img data-hash="product-3"
                  class="product__big__img"
                  src="{% if not item.img_url %}
                    {{ url_for('static', filename = config['NO_PHOTO']) }}
                  {% else %}
                    {{ item.img_url }}
                  {% endif %}"
                  alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="product__details__text">
            <h3>{{ item.title }}</h3>

            <div class="d-flex gap-4 my-2">
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>

              <span>{{ item.nbre_vues }} (vues)</span>
            </div>
            <div class="product__details__price">
              {{ item.prix }} FCFA <span>{{ item.prix }}FCFA</span>
            </div>
            <p>{{ item.description }}</p>
            <div class="product__details__button">
              <div class="quantity">
                <span>Quantite:</span>
                <div class="pro-qty">
                  <input type="text" value="1" min="1" max="{{ item.quantity }}" />
                </div>
              </div>
              <a href="#" class="cart-btn"><span class="icon_bag_alt"></span> Ajouter au panier</a>
              <ul>
                <li>
                    <a href="{{url_for('wishlist')}}"><span class="icon_heart_alt"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon_adjust-horiz"></span></a>
                </li>
              </ul>
            </div>
            <div class="product__details__widget">
              <ul>
                <li>
                  <span>Couleur disponible:</span>
                  <div class="size__btn">
                    {% for color, color_name in unique_colors_with_names %}
                      <label><input type="radio" style="background-color: {{ color }};" />{{ color_name }}</label>
                    {% endfor %}
                  </div>
                </li>

                <li>
                  <span>taille disponible:</span>
                  <div class="size__btn">
                    <label for="xs-btn"><input type="radio" id="xs-btn" />{{ item.size1 }}</label>
                    <label for="s-btn"><input type="radio" id="s-btn" />{{ item.size2 }}</label>
                    <label for="m-btn"><input type="radio" id="m-btn" />{{ item.size3 }}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Donner votre avis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">les avis ( 2 )</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="tabs-1" role="tabpanel">
                <h6>Description</h6>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret. Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla consequat massa quis enim.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
              </div>
              <div class="tab-pane active" id="tabs-2" role="tabpanel">
                <h6>Vues ( 2 )</h6>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret. Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla consequat massa quis enim.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="related__title">
            <h5>Nous vous recommandons également</h5>
          </div>
        </div>

        {% for similar_item in similar_items %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
              <div class="product__item__pic set-bg"
                data-setbg="{% if not similar_item.img_url %}
                  {{ url_for('static', filename = config['NO_PHOTO']) }}
                {% else %}
                  {{ similar_item.img_url }}
                {% endif %}">
                {% if similar_item.img_url %}
                  <div class="label new">Similaire</div>
                {% endif %}
                <ul class="product__hover">
                  <li>
                    <a href="{{ url_for('static', filename = similar_item.img_url) }}" class="image-popup"><span class="arrow_expand"></span></a>
                  </li>
                  <li>
                    <a href="{{ url_for('annonce_Id', id_item = similar_item.id) }}"><span class="fas fa-eye"></span></a>
                  </li>
                  <li>
                    <a href="{{ url_for('add_panier', id = similar_item.id) }}"><span class="icon_bag_alt"></span></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">{{ similar_item.title }}</a></h6>
                <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="product__price">{{ similar_item.prix }} FCFA</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Product Details Section End -->
{% endblock %}
