{% extends './layout/baseEldy.html' %}

{% block title %}
  {{ super() }} | Article
{% endblock %}

{% block content %}
  <!-- Offcanvas Menu End -->

  <!-- Header Section Begin -->

  <!-- Header Section End -->

  <!-- Categories Section Begin -->
  <section class="categories">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 p-0">
          <div class="categories__item categories__large__item set-bg" data-setbg="{{ url_for('static', filename = 'eldyCss/img/eldy.png') }} ">
            <div class="categories__text">
              <h2 style="font-size: 55px; color: aliceblue">Bienvenue sur DydyShop</h2>

              <p style="text-align: justify; color: white">
                "Découvrez la fusion parfaite entre tradition et modernité<br />
                chez DydyShop : votre destination fashion africaine<br />
                incontournable pour être à la pointe de la mode !".
              </p>
              <a href="{{ url_for('Shop') }}" style="display: inline-block; background-color: #d85629; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 4px;">Decouvrir</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 p-0">
              <div class="categories__item set-bg" data-setbg="{{ url_for('static', filename = 'eldyCss/img/categories/test1.png') }}">
                <div class="categories__text">
                  <h4 style="color: aliceblue">Sac Africain</h4>
                  <p>{{ countSac }} items</p>
                  <a href="{{ url_for('display_Shop', subcategory = 1) }}" style="color: aliceblue">Acheter</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 p-0">
              <div class="categories__item set-bg" data-setbg="{{ url_for('static', filename = 'eldyCss/img/categories/category6.png') }}">
                <div class="categories__text">
                  <h4 style="color: aliceblue">Ensemble</h4>
                  <p>{{ countEnsemble }} items</p>
                  <a href="{{ url_for('display_Shop', subcategory = 4) }}" style="color: aliceblue">Acheter</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 p-0">
              <div class="categories__item set-bg" data-setbg="{{ url_for('static', filename = 'eldyCss/img/categories/category7.png') }}">
                <div class="categories__text">
                  <h4 style="color: aliceblue">Tuniques</h4>
                  <p>{{ countTuniques }} items</p>
                  <a href="{{ url_for('display_Shop', subcategory = 2) }}" style="color: aliceblue">Acheter</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 p-0">
              <div class="categories__item set-bg" data-setbg="{{ url_for('static', filename = 'eldyCss/img/image1.jpg') }}">
                <div class="categories__text">
                  <h4 style="color: aliceblue">Tous</h4>
                  <p>{{ count }} items</p>
                  <a href="{{ url_for('Shop') }}" style="color: aliceblue">Acheter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Categories Section End -->

  <!-- Product Section Begin -->
  <section class="product spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="section-title">
            <h4>Items</h4>
          </div>
        </div>
        <div class="col-lg-8 col-md-8">
          <ul class="filter__controls">
            <li class="active" data-filter="*">Tous</li>
            <li data-filter=".women">Femme</li>
            <li data-filter=".men">Homme</li>
          </ul>
        </div>
      </div>
      <div class="row property__gallery">
        {% for item in four_all_items %}
        <div class="col-lg-3 col-md-4 col-sm-6 mix {% if item.category_id == 1 %} women {% else %} men {% endif %}">
            <div class="product__item">
              <div class="product__item__pic set-bg"
                data-setbg="{% if not item.img_url %}
                  {{ url_for('static', filename = config['NO_PHOTO']) }}
                {% else %}
                  {{ item.img_url }}
                {% endif %}
                ">
                {% if item.nbre_vues > 50 %}
                  <div class="label sale">Tendance</div>
                {% endif %}
                {% if item.date_pub == today_date %}
                  <div class="label new">Nouveau</div>
                {% endif %}
                {% if item.quantity == 0 %}
                  <div class="label stockout">Rupture de Stock</div>
                {% endif %}
                <ul class="product__hover">
                  <li>
                    <a href="img/categories/test1.png" class="image-popup"><span class="arrow_expand"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon_heart_alt"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon_bag_alt"></span></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">{{ item.title }}</a></h6>
                <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="product__price">{{ item.prix }} FCFA</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Product Section End -->

  <!-- Banner Section Begin -->
  <section class="banner set-bg" data-setbg="{{ url_for('static', filename = 'eldyCss/img/banner/bannermod.jpg') }}" style="opacity: 0.8">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-8 m-auto">
          <div class="banner__slider owl-carousel">
            <div class="banner__item">
              <div class="banner__text">
                <span>"Explorez la richesse de la mode africaine avec DydyShop !"</span>
                <h1 style="color: aliceblue">The Project Jacket</h1>
                <a href="#">Acheter</a>
              </div>
            </div>
            <div class="banner__item">
              <div class="banner__text">
                <span>"Explorez la richesse de la mode africaine avec DydyShop !"</span>
                <h1 style="color: aliceblue">The Project Jacket</h1>
                <a href="#">Acheter</a>
              </div>
            </div>
            <div class="banner__item">
              <div class="banner__text">
                <span>"Explorez la richesse de la mode africaine avec DydyShop !"</span>
                <h1 style="color: aliceblue">The Project Jacket</h1>
                <a href="#">Acheter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Section End -->

  <!-- Trend Section Begin -->
  <section class="trend spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="trend__content">
            <div class="section-title">
              <h4>Tendance</h4>
            </div>

            {% for item in trending_products %}
              <div class="trend__item">
                <a href="{{ url_for('annonce_Id', id_item = item.id) }}">
                  <div class="trend__item__pic">
                    <img src="{% if not item.img_url %}
                        {{ url_for('static', filename = config['NO_PHOTO']) }}
                      {% else %}
                        {{ item.img_url }}
                      {% endif %}"
                      width="90px"
                      height="90px"
                      alt="" />
                  </div>
                </a>

                <div class="trend__item__text">
                  <a href="{{ url_for('annonce_Id', id_item = item.id) }}"><h6>{{ item.title }}</h6></a>
                  <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div class="product__price">{{ item.prix }} CFA</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="trend__content">
            <div class="section-title">
              <h4>Meilleure Vente</h4>
            </div>

            {% for item in best_sales %}
              <div class="trend__item">
                <a href="{{ url_for('annonce_Id', id_item = item.id) }}">
                  <div class="trend__item__pic">
                    <img src="{% if not item.img_url %}
                        {{ url_for('static', filename = config['NO_PHOTO']) }}
                      {% else %}
                        {{ item.img_url }}
                      {% endif %}"
                      width="90px"
                      height="90px"
                      alt="" />
                  </div>
                </a>

                <div class="trend__item__text">
                  <a href="{{ url_for('annonce_Id', id_item = item.id) }}"><h6>{{ item.title }}</h6></a>
                  <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div class="product__price">{{ item.prix }} CFA</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="trend__content">
            <div class="section-title">
              <h4>Petit Prix</h4>
            </div>

            {% for item in three_lowest_price_items %}
              <div class="trend__item">
                <a href="{{ url_for('annonce_Id', id_item = item.id) }}">
                  <div class="trend__item__pic">
                    <img src="{% if not item.img_url %}
                        {{ url_for('static', filename = config['NO_PHOTO']) }}
                      {% else %}
                        {{ item.img_url }}
                      {% endif %}"
                      width="90px"
                      height="90px"
                      alt="" />
                  </div>
                </a>

                <div class="trend__item__text">
                  <a href="{{ url_for('annonce_Id', id_item = item.id) }}"><h6>{{ item.title }}</h6></a>
                  <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div class="product__price">{{ item.prix }} CFA</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Trend Section End -->

  <!-- Discount Section Begin -->

  <!-- Discount Section End -->

  <!-- Services Section Begin -->
  <section class="services spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="services__item">
            <i class="fa fa-car"></i>
            <h6>Livraison</h6>
            <p>A partir de 1000 CFA</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="services__item">
            <i class="fa fa-money"></i>
            <h6>Garantie</h6>
            <p>24h après la commande</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="services__item">
            <i class="fa fa-support"></i>
            <h6>Online Support 24/7</h6>
            <p>Assistance dédiée par mail</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="services__item">
            <i class="fa fa-headphones"></i>
            <h6>Paiement Sécurisé 100%</h6>
            <p>Bientôt disponible</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->

  <!-- Instagram End -->

  <!-- Footer Section Begin -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-7">
          <div class="footer__about">
            <div class="footer__logo">
              <a href="./index.html"><img src="{{ url_for('static', filename = 'eldyCss/img/logo.png') }}" alt="" width="150px" height="60px" /></a>
            </div>
            <p>"Laissez-vous séduire par la beauté intemporelle des vêtements africains sur DydyShop."</p>
            <div class="footer__payment">
              <a href="#"><img src="{{ url_for('static', filename = 'eldyCss/img/payment/orange.png') }}" alt="" width="40px" height="40px" /></a>
              <a href="#"><img src="{{ url_for('static', filename = 'eldyCss/img/payment/wave.png') }}" alt="" width="40px" height="40px" /></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5">
          <div class="footer__widget">
            <h6>Contact</h6>
            <ul>
              <li>
                <a href="{{ url_for('Contact') }}">Nous Contactez </a>
              </li>
              <li>
                <a href="{{ url_for('Faqs') }}">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div class="footer__widget">
            <h6>Profile</h6>
            <ul>
              <li>
                <a href="#">Mon compte</a>
              </li>
              <li>
                <a href="#">Mes Commandes</a>
              </li>
              <li>
                <a href="{{ url_for('wishlist') }}">Mes Favoris</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-8">
          <div class="footer__newslatter">
            <h6>Newsletter</h6>
            <form action="#">
              <input type="text" placeholder="Email" />
              <button type="submit" class="site-btn">S'inscire</button>
            </form>
            <div class="footer__social">
              <a href="#"><i class="fa fa-whatsapp"></i></a>
              <a href="https://www.instagram.com/dydy_shop_beauty/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <div class="footer__copyright__text">
            <p>
              Copyright &copy;<script>
                                document.write(new Date().getFullYear())
                              </script>

              <i class="fa fa-heart" aria-hidden="true"></i> by DydyShop
            </p>
          </div>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Search Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-switch">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Search here....." />
      </form>
    </div>
  </div>
{% endblock %}
