{% extends './layout/baseEldy.html' %}

{% block title %}
  {{ super() }} | Article
{% endblock %}

{% block content %}
  <!-- Breadcrumb Begin -->
  <div class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__links">
            <a href="./index.html"><i class="fa fa-home"></i> Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Shop Section Begin -->
  <section class="shop spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="shop__sidebar">
            <div class="sidebar__categories">
              <div class="section-title">
                <h4>Categories</h4>
              </div>
              <div class="categories__accordion">
                <div class="accordion" id="accordionExample">
                  {% for category in categories %}
                    <div class="card">
                      <div class="card-heading active">
                        <a data-toggle="collapse" data-target="#collapse{{ category.id }}">{{ category.name }}</a>
                      </div>
                      <div id="collapse{{ category.id }}" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                          <ul class="list-unstyled">
                            {% for subcategory in category.subcategories %}
                              <li>
                                <a href="{{ url_for('display_Shop', category = category.id, subcategory = subcategory.id) }}" class="text-decoration-none">{{ subcategory.name }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <form method="GET" action="{{ url_for('display_Shop') }}">
              <div class="sidebar__filter">
                <div class="section-title">
                  <h4>Filtre Par Prix</h4>
                </div>
              
                <div>
                  <p>
                    Price:
                    <div class="slider-values">
                      <span id="min-value"></span> CFA  -  <span id="max-value"></span> CFA
                    </div>
                  </p>
                  <input type="range" id="minamount" class="form-range" min="0" max="10000" step="500" name="min_price" />
                  <input type="range" id="maxamount" class="form-range" min="0" max="10000" step="500" name="max_price" />
                </div>
              </div>
              <div class="sidebar__sizes">
                <div class="section-title">
                  <h4>Filtre Par taille</h4>
                </div>
                <div class="size__list">
                  <label for="xxs">
                    Petite<input type="checkbox" id="xxs" name="size" />
                    <span class="checkmark"></span>
                  </label>
                  <label for="xs">
                    Moyenne<input type="checkbox" id="xs" name="size" />
                    <span class="checkmark"></span>
                  </label>
                  <label for="xss">
                    Grande<input type="checkbox" id="xss" name="size" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="sidebar__color">
                <div class="section-title">
                  <h4>Filtre par Couleur</h4>
                </div>
                <div class="size__list color__list">
                  <label for="black">
                    Noir<input type="checkbox" id="black" value="yellows" name="color" />
                    <span class="checkmark"></span>
                  </label>
                  <label for="whites">
                    Blanc<input type="checkbox" id="whites" value="yellows" name="color" />
                    <span class="checkmark"></span>
                  </label>
                  <label for="reds">
                    Rouge<input type="checkbox" id="reds" value="yellows" name="color" />
                    <span class="checkmark"></span>
                  </label>
                  <label for="greys">
                    Gris<input type="checkbox" id="greys" value="yellows" name="color" />
                    <span class="checkmark"></span>
                  </label>
                  <label for="blues">
                    Bleu<input type="checkbox" id="blues" value="yellows" name="color" />
                    <span class="checkmark"></span>
                  </label>
                  <label for="beige">
                    Beige<input type="checkbox" id="beige" value="yellows" name="color" />
                    <span class="checkmark"></span>
                  </label>
                  <label for="greens">
                    vert<input type="checkbox" id="greens" value="yellows" name="color" />
                    <span class="checkmark"></span>
                  </label>
                  <label for="yellows">
                    jaune<input type="checkbox" id="yellows" value="yellows" name="color" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>

              <button class="form-control btn btn-outline-danger" type="submit">Filtrer</button>
            </form>
          </div>
        </div>
        <div class="col-lg-9 col-md-9">
          <div class="row">
            {% for item in items %}
              <div class="col-lg-4 col-md-6">
                <div class="product__item">
                  <div class="product__item__pic set-bg"
                    data-setbg="{% if not item.img_url %}
                      {{ url_for('static', filename = config['NO_PHOTO']) }}
                    {% else %}
                      {{ item.img_url }}
                    {% endif %}">
                    <div class="label new">NOUVEAU</div>
                    <ul class="product__hover">
                      <li>
                        <a href="{{ item.img_url }}" class="image-popup"><span class="arrow_expand"></span></a>
                      </li>
                      <li>
                        <a href="{{ url_for('annonce_Id', id_item = item.id) }}"><span class="fas fa-eye"></span></a>
                      </li>

                      <li>
                        <a href="{{ url_for('add_panier', id = item.id) }}"><span class="icon_bag_alt"></span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="product__item__text">
                    <h6><a href="#">{{ item.title }}</a></h6>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product__price">{{ item.prix }} FrancsCFA</div>
                  </div>
                </div>
              </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
              <div class="pagination__option">
                {% for page in pagination.pages %}
                  {% if page %}
                    {% if page == pagination.page %}
                      <a class="active" style="background-color: #ca1515;
                                        border-color: #ca1515;
                                        color: #fff;
                                        z-index: 3;" href="#">{{ page }}</a>
                    {% else %}
                      <a href="#" style="
                        color: #ca1515;">{{ page }}</a>
                    {% endif %}
                  {% else %}
                    <span class="ellipsis">&hellip;</span>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
