<!--affiche parent-->
{% extends './layout/dashBase.html' %}
 
{%block title%}
{{super() }}|New annonces
{%endblock%}



{%block content%}

<section class="vh-100" >

    <div class="container">

        
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
         

    <form id="signUpForm" method="POST" action="{{ url_for('edit') }}">
        <!-- start step indicators -->
        <div class="form-header d-flex mb-4">

            <span class="stepIndicator"><i class="fa-solid fa-pen-to-square fa-2xl" style="color: #ffa033;"></i></span>
            <span class="stepIndicator "><i class="fa-solid fa-camera-retro fa-2xl" style="color: #ff9500;"></i></span>
            <span class="stepIndicator "><i class="fa-solid fa-file fa-2xl" style="color: #ff8929;"></i></span>
            <span class="stepIndicator"><i class="fa-solid fa-cart-shopping fa-2xl" style="color: #ffae00;"></i></i></span>
        </div>
        <!-- end step indicators -->
    
        <!-- step one -->
        <div class="step">

      <div class="d-flex" style="height: 300px;">

                    
                    <div class="mx-2 ">
                      <input type="hidden" value="{{ Item.id }}" name="id_annonce">
                     
                        <h5 class="text-center mb-4">Sélectionnez une catégorie </h5>
                        <p class="text-center mb-4">Remplissez toutes les informations nécessaires qui rendront votre Item intéressante et unique.</p>

                    <label for="categorie">
                        Choisissez une catégorie</label>
                    <select class="form-control" name="categorie">
        
                      <option value="{{ Item.categorie }}" class="disabled" >{{ Item.categorie }}</option>
                      



                      
                    </select>


                    <br>

                    <label for="sous_categorie">Sous-catégorie :</label>
                    <select name="sous_categorie" id="sous_categorie" class="form-control" >
                      
                      <option value="{{ Item.sousCategorie }}" class="disabled" >{{ Item.sousCategorie }}</option>
                      
                    </select>
                   
                    </div>


                    





                    <div class="vr"></div>

                    <div class="mx-2 ">
                        <h5 class="text-center mb-4">Télécharger des photos de votre Item </h5>
                              <p class="text-center mb-4">Une Item avec une image de qualité obtient plus de visibilité et augmente <br>vos chances de vendre plus rapidement.
                                Les annonces avec photo attirent 5 fois plus de clients.</p>
      
                    </div>
                     
                  </div>

                  

        </div>
    
        <!-- step two -->
        <div class="step">
            <p class="text-center mb-4">Télécharger des photos de votre Item</p>
            <!--<div class= class="mb-3">
                <label for="exampleFormControlFile1">img_url</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>-->


            <div class="mb-3">
              <label for="inputAddress">url l'image</label>
            <input type="text" class="form-control" id="inputAddress" oninput="this.className = ''"  name="img_url" placeholder="titre image" value="{{Item.img_url}}">
            </div>

            <div class="mb-3">
              <label for="inputAddress">Titre l'image</label>
            <input type="text" class="form-control" id="inputAddress" oninput="this.className = ''" name="img_title" placeholder="titre image" value="{{Item.img_title}}" >
            </div>
            
        </div>

        <br>
    
        <!-- step three -->
        <div class="step">
            <p class="text-center mb-4">Détails de l'Item</p>
            
            <div class="mb-3">
                <label for="inputAddress">Titre</label>
              <input type="text" class="form-control" id="inputAddress" oninput="this.className = ''" name="title" value="{{Item.title}}">
              </div>
              <div class="mb-3">
                <label for="inputAddress">Description</label>
              <input type="text" class="form-control" id="inputAddress" oninput="this.className = ''" name="description" value="{{Item.description}}">
              </div>

              <div class="mb-3">
                <label for="inputAddress">Prix</label>
              <input type="number" class="form-control" id="inputAddress" oninput="this.className = ''"  step="500" name="prix" value="{{Item.prix}}">
              </div>

               
        </div>
        <div class="step">
        <div class="mb-3">
            <label for="inputZip">Etat</label>
            <select id="inputEtat" class="form-control" name="etat">
              Quel etat du produit
              {% for et in listEtats %}
              <option>{{ et.name }}</option>
              {% endfor %}
            </select>

              
          </div> 

          <div class="mb-3">
            <label for="inputAddress">lieu</label>
          <input type="text" class="form-control" id="inputAddress" oninput="this.className = ''" name="lieu" value="{{Item.lieuPub}}">
          </div>

          <div class="form-check mb-4 col-1">
            <label for="publish">Publier</label>
            <input {% if Item.published %} checked {% endif %} type="checkbox" class="form-check-input" name="publish" id="publish ">
          </div>
          <br>
        </div>
    
        <!-- start previous / next buttons -->
        <div class="form-footer d-flex">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
        <!-- end previous / next buttons -->
    </form>



</div>

                
                
</div>


</div>

</section>

{%endblock%}