<!-- affiche parent -->
{% extends './layout/connBase.html' %}

{% block title %}
  {{ super() }}|About
{% endblock %}

{% block content %}
  <!-- Breadcrumb Begin -->
  <div class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__links">
            <a href="./index.html"><i class="fa fa-home"></i> Home</a>
            <span>Authentification</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Checkout Section Begin -->
  <section class="checkout spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Bienvenue sur DydyShop</a> Connectez Vous.</h6>
          {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <strong>Message!</strong> {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          {% endfor %}
        </div>
      </div>

      <form action="#" method="POST" class="checkout__form">
        <div class="row">
          <div class="col-lg-8">
            <h5>information</h5>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="checkout__form__input">
                  <p>
                    Numero <span>*</span>
                  </p>

                  <input name="tel" type="text" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="checkout__form__input">
                  <p>
                    Login <span>*</span>
                  </p>
                  <input name="login" type="text" />
                </div>
              </div>

              <div class="col-lg-12">
                <div class="checkout__form__input">
                  <p>
                    Password <span>*</span>
                  </p>
                  <input name="pass" type="text" />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="checkout__form__input">
                  <p>
                    Confirmer Password <span>*</span>
                  </p>
                  <input type="text" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="checkout__order">
              <h5>Valider</h5>

              <button type="submit" class="site-btn">Se Connecter</button>
              <br /> <br />

              <a href="{{ url_for('creation_compte') }}" class="site-btn google-login-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.64 9.20456C17.64 8.56637 17.5827 7.95274 17.4764 7.36365H9V10.845H13.8436C13.635 11.97 13.0009 12.9232 12.0477 13.5614V15.8196H14.9564C16.6582 14.2527 17.64 11.9455 17.64 9.20456Z" fill="#4285F4" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C11.43 18 13.4673 17.1941 14.9564 15.8195L12.0477 13.5614C11.2418 14.1014 10.2109 14.4204 9 14.4204C6.65591 14.4204 4.67182 12.8373 3.96409 10.71H0.957275V13.0418C2.43818 15.9832 5.48182 18 9 18Z" fill="#34A853" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.96409 10.71C3.78409 10.17 3.68182 9.59319 3.68182 9.00001C3.68182 8.40683 3.78409 7.83001 3.96409 7.29001V4.95819H0.957273C0.347727 6.17319 0 7.54774 0 9.00001C0 10.4523 0.347727 11.8268 0.957273 13.0418L3.96409 10.71Z" fill="#FBBC05" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9 3.57955C10.3214 3.57955 11.5077 4.03364 12.4405 4.92545L15.0218 2.34409C13.4632 0.891818 11.4259 0 9 0C5.48182 0 2.43818 2.01682 0.957275 4.95818L3.96409 7.29C4.67182 5.16273 6.65591 3.57955 9 3.57955Z" fill="#EA4335" />
                </svg> Google
              </a>
              <div class="checkout__order__widget">
                <p>Créez un compte en cliquant sur ci dessous. Si vous êtes un client de retour, connectez-vous en haut de la page..</p>
              </div>

              
              <a href="{{ url_for('creation_compte') }}" class="site-btn" style="color:white; background:#d85629;">Creer Compte</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- Checkout Section End -->
{% endblock %}
