
<!--affiche parent-->
{% extends './layout/connBase.html' %}
 
{%block title%}
{{super() }}|About
{%endblock%}



        


        {%block content%}

        
  <!-- Breadcrumb Begin -->
  <div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Authentification</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Bienvenue sur DydyShop</a> Connectez Vous.</h6>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                      <strong>Message!</strong> {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
            {% endfor %}
            </div>

            
        </div>


        <form action="#" method="POST" class="checkout__form">
            <div class="row">
                <div class="col-lg-8">
                    <h5>information</h5>
                    <div class="row">
                        
                      
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Numero <span>*</span></p>
                              
                                <input name="tel" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Login <span>*</span></p>
                                <input name="login" type="text">
                            </div>
                        </div>

                        <div class="col-lg-12">
                          <div class="checkout__form__input">
                              <p>Password <span>*</span></p>
                              <input  name="pass" type="text">
                          </div>
                          
                         
                      </div>
                        <div class="col-lg-12">
                            
                                <div class="checkout__form__input">
                                    <p>Confirmer Password <span>*</span></p>
                                    <input type="text">
                                </div>
                               
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__order">
                            <h5>Valider</h5>
                            
                            
                            
                            <button type="submit" class="site-btn">Se Connecter</button>
                            <br>   <br>   
                            <div class="checkout__order__widget">
                              
                              <p>Créez un compte en cliquant sur ci dessous. Si vous êtes un client de retour, connectez-vous en haut de la page..</p>
                              
                          </div>

                           
                    <a href="{{url_for('creation_compte')}}" class="site-btn" style="color:white; background:#d85629;"> Creer Compte</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Checkout Section End -->

  {%endblock%}