{% extends "layout/baseEldy.html" %}

{% block title %}
    {{super()}} | 404
{% endblock title %}


{% block content %}

<br><br>
<div style="text-align:center">
    <h1 style="color: #d85629;
   
    font-size: 9rem;
    font-weight: 700;
    line-height: 1.5;
    text-shadow: 4px 1px 0 rgba(242,149,65,.2);
    text-transform: uppercase;">404</h1>

    <p style=" color: #616161;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;">Oops !<br>
        Il semble que la page que vous recherchez n'existe pas.
        <br>
        Corrigeons ça </p>

        <a href="{{url_for('index')}}" class="btn" style="background-color:#d85629;border: 1px solid transparent;border-color: #d85629;
        color: #fff;display: inline-block;">Retour à l'Accueil</a>
    </div>
{% endblock content %}


