{% extends 'layout/errors.html' %}

{% block title %}
  {{ super() }} | Maintenance
{% endblock %}

{% block content %}
  <div style="text-align:center ; margin-top: 10rem;">
    <h3 style="color: #d85629;
   
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.5;
    text-shadow: 4px 1px 0 rgba(242,149,65,.2);
    text-transform: uppercase;">Maintenance <i class="fa-solid fa-gears"></i></h3>

    <p style=" color: #616161;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;">
      Oops !<br />
      Notre site est actuelement en maintenance nous travaillons dure pour vous offir une meilleure expérience.
      <br />
      Corrigeons ça
    </p>
  </div>
  <div class="d-flex justify-content-center">
    <form>
      <input class="form-control mb-2" placeholder="Votre email"/>
      <button type="submit" class="btn" style="background-color:#d85629;border: 1px solid transparent;border-color: #d85629;
      color: #fff;display: inline-block;">Prevenez moi quand il est prêt</button>
    </form>
  </div>
{% endblock %}
