<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/expat.css') }}">
 
<section class="home-newsletter">
  <div class="home-newsletter__container">
     <div class="home-newsletter__inner">
       <div class="home-newsletter__content">
          <div class="home-newsletter__title">Restez informés avec notre newsletter</div>
          <p class="home-newsletter__subtitle">Recevez notre sélection hebdomadaire des meilleures offres !</p>
       </div>
     <div class="home-newsletter__form-container">
        <form method="POST" action="" accept-charset="UTF-8" class="home-newsletter__form" data-validate-form data-form-blocking data-remote data-type="json" data-t-newsletter-subscribe>
         <input name="_token" type="hidden" value="dnnUziWMB7SX7hoUrIoS5gSSI4DU0w3QaYou5ZuT">
           <input name="source" type="hidden" value="newsletter">

                <div class="home-newsletter__form__inner">
                    <div class="home-newsletter__form__email">
                         <input id="email_newsletter" placeholder="Adresse e-mail" class="form-control home-newsletter__form__email-input" required name="email" type="email">
                    </div>
                    <div class="home-newsletter__form__submit">
                         <button type="submit" class="btn btn-secondary btn-block" id="newsletter-subscribe">Je m'abonne</button>
                    </div>
                </div>
       </form>
      </div>
     </div>
  </div>
</section>
<footer class="footer footer--has-app">
  <div class="footer__container">
   <div class="footer__row">
    <div class="footer-group">
     <div class="footer-group__inner">
      <div class="footer-links footer-links--links">
        <ul class="footer-links__list">
           <li class="footer-links__list-item">
               <a href="" class="footer-links__list-item__link">Qui sommes-nous ?</a>
           </li>
           <li class="footer-links__list-item">
               <a href="" class="footer-links__list-item__link">Contact</a>
           </li>
           <li class="footer-links__list-item">
               <a href="" class="footer-links__list-item__link">Vendre en ligne</a>
           </li>
           <li class="footer-links__list-item">
               <a href="" class="footer-links__list-item__link">Deals</a>
           </li>
           <li class="footer-links__list-item">
               <a href="" class="footer-links__list-item__link">Blog</a>
           </li>
          <li class="footer-links__list-item">
              <a href="" class="footer-links__list-item__link">Conditions et Charte d'utilisation</a>
          </li>
         <li class="footer-links__list-item">
              <a href="https://www.expat-dakar.com/showroom" class="footer-links__list-item__link">Les Boutiques</a>
         </li>
        </ul>
      </div>
      <div class="footer-links footer-links--partners">
         <div class="footer-links__header">Sites internationaux</div>
         <ul class="footer-links__list">
            <li class="footer-links__list-item">
               <a href="" class="footer-links__list-item__link" target="_blank">ROAM</a>
            </li>
            <li class="footer-links__list-item">
                <a href="" class="footer-links__list-item__link" target="_blank">Qefira</a>
            </li>
            <li class="footer-links__list-item">
                <a href="" class="footer-links__list-item__link" target="_blank" rel="noopener">Pigiame</a>
            </li>
         </ul>
      </div>
     </div>
    </div>
 <div class="footer-links footer-links--app">
    <div class="footer-links__header">Téléchargez notre appli</div>
      <a href="" class="footer-links__app">
          <img class="footer-links__app__img" alt="Téléchargez notre appli" src="https://www.expat-dakar.com/assets/ed-site/img/app-badge/google/fr.49bcd27f.svg" />
      </a>
   </div>
   <div class="footer-links footer-links--social">
       <div class="footer-links__header">Suivre Expat-Dakar</div>
      <ul class="footer-links__list footer-links__list-social">

        <li class="footer-links__list-social-item">
             <img src="https://www.meilleure-innovation.com/wp-content/uploads/2021/11/1200px-facebook-logo-2019-1024x1024.png" width="33px" height="33px" />
        </li>

        <li class="footer-links__list-social-item">
           <img src="https://www.u-paris2.fr/sites/default/files/photo_image/icone-twitter-ronde.png" width="33px" height="33px" />
        </li>

        <li class="footer-links__list-social-item">
             <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" width="33px" height="33px" />
        </li>

       <li class="footer-links__list-social-item">
            <img src="https://cdn-icons-png.flaticon.com/512/49/49408.png" width="33px" height="33px" />
       </li>

      </ul>
   </div>
   </div>
  </div>

</footer>